#contentHtmlBoxHolder {
	display: none;
}

.contentHtmlBoxes {

}

#content {
	display: none;
	
	padding: 20px;
	padding-top: 30px;
	
	color: black;
	font-size: 15px;
	line-height: 20px;
}

#content p {
	margin-bottom: 20px;
}

#content a {
	color: darkblue;
}

#content a:hover {
	color: darkblue;
	text-decoration: underline;
}

#content h1 {
	font-size: 25px;
	font-weight: bold;
	color: black;
	text-align: center;
	text-shadow: white 0px 0px 5px;
	margin-bottom: 20px;
	border-bottom: 2px solid grey;
}

#content h2 {
	font-size: 20px;
	font-weight: bold;
	color: black;
	text-align: center;
	margin-bottom: 10px;
	border-bottom: 1px solid grey;
}